@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans+Arabic&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    position: sticky; 
    top: 0px;
}
